@model Assignment_2.Models.Trip

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <h2>Create</h2>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Trip</h4>
            <hr />
            @Html.ValidationSummary(true)

            <div class="form-group">
                @Html.LabelFor(model => model.From, new { @class = "control-label col-md-2", @for = "txtfrom" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.From, new { @class = "form-control", type = "text", @id = "txtfrom" })
                    @Html.ValidationMessageFor(model => model.From)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.To, new { @class = "control-label col-md-2", @for = "txtto" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.To, new { @class = "form-control", type = "text", @id = "txtto" })
                    @Html.ValidationMessageFor(model => model.To)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-2", @for = "txtdesc" })
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.Description, new { @class = "form-control", type = "text", @rows = "3", @id = "txtdesc" })
                    @Html.ValidationMessageFor(model => model.Description)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Price, new { @class = "control-label col-md-2", @for = "txtprice" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Price, new { @class = "form-control", type = "number", @id = "txtprice" })
                    @Html.ValidationMessageFor(model => model.Price)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.TripStartDate, new { @class = "control-label col-md-2", @for = "txttripstartdate" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.TripStartDate, new { type = "text", @class = "form-control", @id = "txttripstartdate", @placeholder = "dd/mm/yyyy" })
                    @Html.ValidationMessageFor(model => model.TripStartDate)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.TripEndDate, new { @class = "control-label col-md-2", @for = "txttripenddate" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.TripEndDate, new { type = "text", @class = "form-control", @id = "txttripenddate", @placeholder = "dd/mm/yyyy" })
                    @Html.ValidationMessageFor(model => model.TripEndDate)
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</div>