@model IEnumerable<Assignment_2.Models.Trip>

@{
    ViewBag.Title = "Trip Management";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <h2>Trip Management</h2>

    <p>
        @using (Html.BeginForm("Index", "Trip", FormMethod.Get))
        {    
            <div class="row">
                <div class="form-inline">
                    <div class="form-group">
                        <div class="col-md-12">
                            <a class="btn btn-primary" href="@Url.Action("Create", "Trip")">
                                Create New
                                <i class="fa fa-plus" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label for="searchOrigin">Origin:</label>
                            @Html.DropDownList("origin", null, "Select Origin", new { @class = "form-control", @id = "searchOrigin"})
                            @*@Html.TextBox("origin", null, new { @class = "form-control", @placeholder = "Trip Origin" })*@
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label for="searchDestination">Destination:</label>
                            @Html.DropDownList("destination", null, "Select Destination", new { @class = "form-control", @id = "searchDestination" })
                            @*@Html.TextBox("destination", null, new { @class = "form-control", @placeholder = "Trip Destination" })*@
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label for="searchStartDate">Start Date:</label>
                            @Html.TextBox("startDate", null, new { @class = "form-control", @placeholder = "dd/mm/yyyy", @id = "searchStartDate" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-primary">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        }
        @*@Html.ActionLink("Create New", "Create")*@
    </p>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.From)
                    <i class="fa fa-sort-amount-asc" aria-hidden="true"></i>
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.To)
                    <i class="fa fa-sort" aria-hidden="true"></i>
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                    <i class="fa fa-sort" aria-hidden="true"></i>
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                    <i class="fa fa-sort" aria-hidden="true"></i>
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TripStartDate)
                    <i class="fa fa-sort" aria-hidden="true"></i>
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TripEndDate)
                    <i class="fa fa-sort" aria-hidden="true"></i>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.From)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.To)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TripStartDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TripEndDate)
                    </td>
                    <td>
                        <a href="@Url.Action("Edit", "Trip", new { id = item.TripId })">
                            Edit
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                        </a> |
                        <a href="@Url.Action("Details", "Trip", new { id = item.TripId })">
                            Details
                            <i class="fa fa-info-circle" aria-hidden="true"></i>
                        </a> |
                        <a href="@Url.Action("Delete", "Trip", new { id = item.TripId })">
                            Delete
                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                        </a>
                        @*@Html.ActionLink("Edit", "Edit", new { id = item.TripId }) |
                        @Html.ActionLink("Details", "Details", new { id = item.TripId }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.TripId })*@
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
