@model Assignment_2.Models.Order

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <h2>Create</h2>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Order</h4>
            <hr />
            @Html.ValidationSummary(true)

            <div class="form-group">
                @Html.LabelFor(model => model.CustID, "Customer", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("CustID", null, String.Empty, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.CustID)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.TripID, "Trip From", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.Trip.From, (SelectList)ViewBag.TripFrom, "Select Trip Source", new { @class = "form-control", @id = "TripFrom" })
                    @Html.ValidationMessageFor(model => model.Trip.From, "Please select Trip Source")
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.TripID, "Trip To", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.Trip.To, new SelectList(Enumerable.Empty<SelectListItem>(), "To", "To"),
              "Select Trip Destination",
              new { @class = "form-control", @id = "TripTo" })
                    @Html.ValidationMessageFor(model => model.Trip.To, "Please select Trip Destination")
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.TripID, "Trip Start Date", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.Trip.TripStartDate, new SelectList(Enumerable.Empty<SelectListItem>(), "TripStartDate", "TripStartDate"),
              "Select Trip Start Date",
              new { @class = "form-control", @id = "TripStartDate" })
                    @Html.ValidationMessageFor(model => model.Trip.TripStartDate, "Please select Trip Start Date")
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Trip.TripEndDate, "Trip End Date", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.TripID, new SelectList(Enumerable.Empty<SelectListItem>(), "TripId", "TripEndDate"),
              "Select Trip End Date",
              new { @class = "form-control", @id = "TripEndDate" })
                    @Html.ValidationMessageFor(model => model.TripID, "Please select Trip End Date")
                </div>
            </div>


            <div class="form-group">
                @Html.LabelFor(model => model.No_Of_Pass, new { @class = "control-label col-md-2", @for = "txtNoOfPass" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.No_Of_Pass, new { @class = "form-control", type = "number", @step = "1", @id = "txtNoOfPass" })
                    @Html.ValidationMessageFor(model => model.No_Of_Pass)
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</div>