@model Assignment_2.Models.Order

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <h2>Details</h2>

    <div>
        <h4>Order</h4>
        <hr />
        <dl class="dl-horizontal">

            <dt>
                @Html.DisplayNameFor(model => model.Customer.CustFName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Customer.CustFName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Customer.CustLName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Customer.CustLName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Customer.CustGenderDesc)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Customer.CustGenderDesc)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Customer.CustStreet)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Customer.CustStreet)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Customer.CustState)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Customer.CustState)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Customer.CustPostalCD)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Customer.CustPostalCD)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Customer.CustPhone)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Customer.CustPhone)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Customer.CustMobile)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Customer.CustMobile)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Customer.CustEmail)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Customer.CustEmail)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Trip.From)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Trip.From)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Trip.To)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Trip.To)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Trip.Price)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Trip.Price)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Trip.TripStartDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Trip.TripStartDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Trip.TripEndDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Trip.TripEndDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.No_Of_Pass)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.No_Of_Pass)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.OrderDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.OrderDate)
            </dd>
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.OrderNo }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>