@model Assignment_2.Models.Order

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">

    <h2>Edit</h2>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Order</h4>
            <hr />
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.OrderNo)

            <div class="form-group">
                @Html.LabelFor(model => model.CustID, "CustID", new { @class = "control-label col-md-2", @for = "txtcustID" })
                <div class="col-md-10">
                    @Html.DropDownList("CustID", null, "Select Customer", new { @class = "form-control", @id = "txtcustID" })
                    @Html.ValidationMessageFor(model => model.CustID)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.TripID, "Trip From", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.Trip.From, (SelectList)ViewBag.TripFrom, "Select Trip Source", new { @class = "form-control", @id = "TripFrom" })
                    @Html.ValidationMessageFor(model => model.Trip.From, "Please select Trip Source", new { @id = "vldtripsource" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.TripID, "Trip To", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.Trip.To, (SelectList)ViewBag.TripTo, new { @class = "form-control", @id = "TripTo" })
                    @Html.ValidationMessageFor(model => model.Trip.To, "Please select Trip Destination", new { @id = "vldtripdest" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.TripID, "Trip Start Date", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.Trip.TripStartDate, (SelectList)ViewBag.TripStartDate, new { @class = "form-control", @id = "TripStartDate" })
                    @Html.ValidationMessageFor(model => model.Trip.TripStartDate, "Please select Trip Start Date", new { @id = "vldstartdate" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.TripID, "Trip End Date", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.TripID, (SelectList)ViewBag.TripEndDate,
              new { @class = "form-control", @id = "TripEndDate" })
                    @Html.ValidationMessageFor(model => model.TripID, "Please select Trip End Date")
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.No_Of_Pass, new { @class = "control-label col-md-2", @for = "txtNoOfPass" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.No_Of_Pass, new { @class = "form-control", type = "number", @min = "0", @step = "1", @id = "txtNoOfPass" })
                    @Html.ValidationMessageFor(model => model.No_Of_Pass)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.OrderDate, new { @class = "control-label col-md-2", @for = "txtorderdate" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.OrderDate, new { type = "datetime", @class = "form-control", @id = "txtorderdate", @readonly = "readonly" })
                    @Html.ValidationMessageFor(model => model.OrderDate)
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" id ="btn-save" value="Save" class="btn btn-primary"/>
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</div>