@model IEnumerable<Assignment_2.Models.Order>

@{
    ViewBag.Title = "Order Management";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <h2>Order Management</h2>

    <p>
        @using (Html.BeginForm("Index", "Order", FormMethod.Get))
        {    
            <div class="row">
                <div class="form-inline">
                    <div class="form-group">
                        <div class="col-md-12">
                            <a class="btn btn-primary btn-square" href="@Url.Action("Create", "Order")">
                                Create New
                                <i class="fa fa-plus" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label for="searchFirstName">First Name:</label>
                            @Html.TextBox("firstName", null, new { @class = "form-control", @placeholder = "Enter First Name", @id = "searchFirstName" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label for="searchLastName">Last Name:</label>
                            @Html.TextBox("lastName", null, new { @class = "form-control", @placeholder = " Enter Last Name", @id = "searchLastName" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label for="searchMobile">Mobile:</label>
                            @Html.TextBox("mobile", null, new { @class = "form-control", @placeholder = "Enter Mobile Number", @id = "searchMobile" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-primary">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        }
        @*@Html.ActionLink("Create New", "Create")*@
    </p>
    <table class="table">
        <thead>
            <tr>
                
                <th>
                    @Html.DisplayNameFor(model => model.Customer.CustFName)
                    <i class="fa fa-sort-amount-asc" aria-hidden="true"></i>
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Customer.CustLName)
                    <i class="fa fa-sort" aria-hidden="true"></i>
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Customer.CustEmail)
                    <i class="fa fa-sort" aria-hidden="true"></i>
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Customer.CustMobile)
                    <i class="fa fa-sort" aria-hidden="true"></i>
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Trip.From)
                    <i class="fa fa-sort" aria-hidden="true"></i>
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Trip.To)
                    <i class="fa fa-sort" aria-hidden="true"></i>
                </th>
                @*<th>
                    @Html.DisplayNameFor(model => model.No_Of_Pass)
                    <i class="fa fa-sort" aria-hidden="true"></i>
                </th>*@
                <th>
                    @Html.DisplayNameFor(model => model.OrderDate)
                    <i class="fa fa-sort" aria-hidden="true"></i>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    
                    <td>
                        @Html.DisplayFor(modelItem => item.Customer.CustFName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Customer.CustLName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Customer.CustEmail)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Customer.CustMobile)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Trip.From)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Trip.To)
                    </td>
                    @*<td>
                        @Html.DisplayFor(modelItem => item.No_Of_Pass)
                    </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.OrderDate)
                    </td>
                    <td>
                        <a href="@Url.Action("Edit", "Order", new { id = item.OrderNo })">
                            Edit
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                        </a> |
                        <a href="@Url.Action("Details", "Order", new { id = item.OrderNo })">
                            Details
                            <i class="fa fa-info-circle" aria-hidden="true"></i>
                        </a> |
                        <a href="@Url.Action("Delete", "Order", new { id = item.OrderNo })">
                            Delete
                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                        </a>
                        @*@Html.ActionLink("Edit", "Edit", new { id = item.OrderNo }) |
                        @Html.ActionLink("Details", "Details", new { id = item.OrderNo }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.OrderNo })*@
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
