@{
    ViewBag.Title = "Documentation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2>Documentation</h2>*@

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-uppercase">@ViewBag.Title</h2>
                <h3 class="text-primary"><i class="fa fa-user" aria-hidden="true"></i> Author</h3>
                <table class="table-condensed">
                    <tbody>
                        <tr>
                            <th>
                                <strong>
                                    Name:
                                </strong>
                            </th>
                            <td></td>
                            <td>
                                Tuan Anh Le
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <strong>
                                    Student ID:
                                </strong>
                            </th>
                            <td></td>
                            <td>
                                26576317
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <strong>
                                    Unit Name:
                                </strong>
                            </th>
                            <td></td>
                            <td>
                                Internet applications development
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <strong>
                                    Unit Provider:
                                </strong>
                            </th>
                            <td></td>
                            <td>
                                Monash University, The Caulfield School of Information Technology
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <strong>
                                    Assignment Number:
                                </strong>
                            </th>
                            <td></td>
                            <td>
                                5.3
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <strong>
                                    Submission Date:
                                </strong>
                            </th>
                            <td></td>
                            <td>
                                21/09/2016
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <strong>
                                    Tutor Name:
                                </strong>
                            </th>
                            <td></td>
                            <td>
                                ABM Russel
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <strong>
                                    Author Email:
                                </strong>
                            </th>
                            <td></td>
                            <td>
                                <a href="mailto:tale18@student.monash.edu">tale18@student.monash.edu</a>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <strong>
                                    Assignment Specs:
                                </strong>
                            </th>
                            <td></td>
                            <td>
                                <a href="http://moodle.vle.monash.edu/mod/page/view.php?id=3322015">Assignment Specifications</a>
                            </td>
                        </tr>
                        <tr class="emptyrow">
                            <td colspan="3"></td>
                        </tr>
                    </tbody>
                </table>
                <hr/>
                <h3 class="text-primary"><i class="fa fa-picture-o" aria-hidden="true"></i> Image</h3>
                <table class="table-condensed">
                    <tbody>
                        <tr>
                            <td>
                                <img src="@Url.Content("~/Images/banner1.jpg")" class="img-responsive" >
                            </td>
                            <td></td>
                            <td>
                                <a href="http://flyingtriponline.com/img/slider3.jpg">Flying Trip Online</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <img src="@Url.Content("~/Images/banner4.jpg")" class="img-responsive">
                            </td>
                            <td></td>
                            <td>
                                <a href="http://www.zenevafuture.com/images/bg1.jpg">Zeneva Future</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <img src="@Url.Content("~/Images/banner9.jpg")" class="img-responsive">
                            </td>
                            <td></td>
                            <td>
                                <a href="http://www.intrepidtravel.com/sites/default/files/basix-banner2.jpg">Intrepid Travel</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <img src="@Url.Content("~/Images/banner2.jpg")" class="img-responsive">
                            </td>
                            <td></td>
                            <td>
                                <a href="http://www.australia.com/content/australia/en_us/itineraries/14-days-wild-about-wildlife/jcr:content/hero/image.adapt.1663.medium.jpg">Australia.com</a>
                            </td>
                        </tr>
                        <tr class="emptyrow">
                            <td colspan="3"></td>
                        </tr>
                    </tbody>
                </table>
                <hr/>
                <h3 class="text-primary"><i class="fa fa-cog" aria-hidden="true"></i> jQuery Functionality</h3>
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                jQuery
                            </th>
                            <th>
                                Description
                            </th>
                            <th>
                                Used in Page
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                Carousel slideshow
                            </td>
                            <td>
                                Automatically change the photo in the slideshow after a defined number of seconds
                            </td>
                            <td>
                                Home Page
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Fade-in effect on scrolling
                            </td>
                            <td>
                                On scrolling, the content will start flying in from the bottom up.
                            </td>
                            <td>
                                Home Page
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Client-side Form Validation
                            </td>
                            <td>
                                Input validation is performed from the client side, thus no page reload is required.
                            </td>
                            <td>
                                All Edit, and Create pages
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Conditional Dropdownlist Population
                            </td>
                            <td>
                                The dropdownlist content is populated based on the selected value of another dropdownlist
                            </td>
                            <td>
                                Order Edit and Create Pages
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Table header sort icon auto-change
                            </td>
                            <td>
                                The sort icons in the table header will be automatically changed according to the sorting condition
                            </td>
                            <td>
                                All Index Pages
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Highlighted Active Tab
                            </td>
                            <td>
                                Active tab in the navigation bar is highlighted based on the opening page
                            </td>
                            <td>
                                All Pages
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Photo View Mask
                            </td>
                            <td>
                                When hovering over the photo, a view mask will appear on top of the photo
                            </td>
                            <td>
                                Home Page
                            </td>
                        </tr>
                        <tr class="emptyrow">
                            <td colspan="3"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

