@model Assignment_2.Models.Customer

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

    <h2>Details</h2>

    <div>
        <h4>Customer</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.CustFName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CustFName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CustLName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CustLName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CustDOB)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CustDOB)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CustGenderDesc)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CustGenderDesc)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CustStreet)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CustStreet)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CustState)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CustState)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CustPostalCD)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CustPostalCD)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CustPhone)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CustPhone)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CustMobile)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CustMobile)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CustEmail)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CustEmail)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CustRemark)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CustRemark)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CustRegisterdDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CustRegisterdDate)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.CustID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>

</div>