@model Assignment_2.Models.Customer

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>Edit</h2>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Customer</h4>
            <hr />
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.CustID)

            <div class="form-group">
                @Html.LabelFor(model => model.CustFName, "First Name", new { @class = "control-label col-md-2", @for = "txtfirstname" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.CustFName, new { @class = "form-control", type = "text", @id = "txtfirstname" })
                    @Html.ValidationMessageFor(model => model.CustFName)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.CustLName, "Last Name", new { @class = "control-label col-md-2", @for = "txtlastname" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.CustLName, new { @class = "form-control", type = "text", @id = "txtlastname" })
                    @Html.ValidationMessageFor(model => model.CustLName)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.CustDOB, "DOB (dd/mm/yyyy)", new { @class = "control-label col-md-2", @for = "txtDOB" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.CustDOB, "{0:dd/MM/yyyy}", new { type = "text", @class = "form-control", @id = "txtDOB" })
                    @Html.ValidationMessageFor(model => model.CustDOB)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.CustGender, "Gender", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <label class="radio-inline">
                        @Html.RadioButtonFor(model => model.CustGender, "M", new { name = "CustGender", type = "radio" }) Male
                    </label>
                    <label class="radio-inline">
                        @Html.RadioButtonFor(model => model.CustGender, "F", new { name = "CustGender", type = "radio" }) Female
                    </label>
                    @Html.ValidationMessageFor(model => model.CustGender)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.CustStreet, "Address", new { @class = "control-label col-md-2", @for = "txtstreet" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.CustStreet, new { @class = "form-control", type = "text", @id = "txtstreet" })
                    @Html.ValidationMessageFor(model => model.CustStreet)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.CustState, "State", new { @class = "control-label col-md-2", @for = "txtstate" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.CustState, (SelectList)ViewBag.State, new { @class = "form-control", @id = "txtstate" })
                    @Html.ValidationMessageFor(model => model.CustState)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.CustPostalCD, "Postal CD", new { @class = "control-label col-md-2", @for = "txtpostalcd" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.CustPostalCD, new { @class = "form-control", type = "text", @id = "txtpostalcd" })
                    @Html.ValidationMessageFor(model => model.CustPostalCD)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.CustPhone, "Phone No.", new { @class = "control-label col-md-2", @for = "txtphone" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.CustPhone, new { @class = "form-control", type = "tel", @id = "txtphone" })
                    @Html.ValidationMessageFor(model => model.CustPhone)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.CustMobile, "Mobile No.", new { @class = "control-label col-md-2", @for = "txtmobile" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.CustMobile, new { @class = "form-control", type = "tel", @id = "txtmobile" })
                    @Html.ValidationMessageFor(model => model.CustMobile)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.CustEmail, "Email", new { @class = "control-label col-md-2", @for = "txtemail" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.CustEmail, new { @class = "form-control", type = "email", @id = "txtemail" })
                    @Html.ValidationMessageFor(model => model.CustEmail)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.CustRemark, "Note", new { @class = "control-label col-md-2", @for = "txtnote" })
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.CustRemark, new { @class = "form-control", type = "text", @rows = "3", @id = "txtnote" })
                    @Html.ValidationMessageFor(model => model.CustRemark)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.CustRegisterdDate, new { @class = "control-label col-md-2", @for = "txtregisterdate" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.CustRegisterdDate, new { @class = "form-control", type = "datetime", @id = "txtregisterdate", @readonly = "readonly" })
                    @Html.ValidationMessageFor(model => model.CustRegisterdDate)
                </div>
            </div>
            @*<div class="form-group">
                @Html.LabelFor(model => model.CustFName, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CustFName, new { @class = "form-control", type = "text", @id = "txtfirstname" })
                    @Html.ValidationMessageFor(model => model.CustFName)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.CustLName, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CustLName, new { @class = "form-control", type = "text", @id = "txtlastname" })
                    @Html.ValidationMessageFor(model => model.CustLName)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.CustDOB, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CustDOB, new { type = "date", @class = "form-control", @id = "txtDOB" })
                    @Html.ValidationMessageFor(model => model.CustDOB)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.CustGender, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CustGender)
                    @Html.ValidationMessageFor(model => model.CustGender)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.CustStreet, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CustStreet)
                    @Html.ValidationMessageFor(model => model.CustStreet)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.CustState, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CustState)
                    @Html.ValidationMessageFor(model => model.CustState)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.CustPostalCD, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CustPostalCD)
                    @Html.ValidationMessageFor(model => model.CustPostalCD)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.CustPhone, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CustPhone)
                    @Html.ValidationMessageFor(model => model.CustPhone)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.CustMobile, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CustMobile)
                    @Html.ValidationMessageFor(model => model.CustMobile)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.CustEmail, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CustEmail)
                    @Html.ValidationMessageFor(model => model.CustEmail)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.CustRemark, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CustRemark)
                    @Html.ValidationMessageFor(model => model.CustRemark)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.CustRegisterdDate, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CustRegisterdDate)
                    @Html.ValidationMessageFor(model => model.CustRegisterdDate)
                </div>
            </div>*@

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</div>
